<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-title mode="md" class="ion-text-center">Inicio</ion-title> -->
  <ion-text class="ion-text-center">
  <h1>Inicio</h1>
</ion-text>

  <ion-list>
    <ion-list-header>
      <ion-label>Listado</ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <ion-select placeholder="Seleccione una opción" label="Facultades">
        @for (option of options; track $index) {
        <ion-select-option [value]="option.id || option.value || option">
          {{ option.nombre }}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>


</ion-content>