.logo-header {
  height: 44px !important;
  margin-left: 74px;
  padding-right: 74px;
  display: inline-flex;
  overflow: hidden;
  text-align: center;
}

.logo-header > img {
  height: auto;
  width: 10px !important;
  max-height: 35px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.logo-header > img.logo-company {
  margin: 0px 4px;
  max-height: 38px;
  max-width: 38px;
}
